.card .btn-primary {
	text-transform: uppercase;
}

.card-img-top {
	width: 100%;
	height: 10vw;
	object-fit: cover;
}

.card-deck .card {
	margin-left: 10px;
	margin-right: 10px;
	max-width: 234px;
}

.card-deck {
	justify-content: space-around;
}

body {
    background-image: url('../images/wands/backgroundimage.png');
    background-size: cover;
}

/* overriding bootstrap's hr settings here */
hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
    border-top: 1px solid black;
    width: 80%;
}