/* 
AlPhaD UI - Header Advance 

* Version: 1.0
* Build Date    :  27-2-2018 
* Last Update   :  - []
* Author: ALPhA D
* Website: www.alphadsy.com
* Github: www.github.com/alphadsy/
* Lic : MIT 

[Layout]

[Color codes]

[Typography]

[content table]

- header main css 
  - header main css (lg)
- #header1 css
  - #header1 css (lg)
.
.
.    
- demo css (for demo purpose only)

*/

/* =======================================
 header
========================================*/
.header {
    position: relative;
    width: 100vw;	
    height: 600px;	
}
.header .center {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    transform:translate(-50%,-50%);
    z-index: 15; 
    padding: 1rem;
}
.header .left {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  z-index: 5; 
}
.header .right {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  z-index: 5; 
}
.header .scroll {
  position: absolute;
  top: 95%;
  left: 50%;
  transform:translate(-50%,-50%);
  color: #fff;
  font-size: 1.5rem;
}
/*=== Large devices (desktops, 992px and up) ===*/
@media (min-width: 992px) {
  .header .center {
    width: 50%;
  }
}
  /* =======================================
  header#3
========================================*/
#header3 {
  background: #000;
  background:
    /* gradient overlay */ 
    linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6), /* #000000 */
      rgba(67, 67, 67, 0.5) /* #434343 */
    ),
    /* bottom image */
    url('https://png.pngtree.com/thumb_back/fw800/back_pic/00/10/17/125631e0833a137.jpg') no-repeat left top;
  background-size: cover;  
  z-index: 0; 
}

#header3 .center {
  border-radius: 50%;
  width: 350px;
  height: 350px;
  padding: 3%;
  box-shadow: 0 16px 18px -6px rgb(15, 2, 2);
  background-color: #1b1616;
}

#header3 .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform:translate(-50%,-50%);
  text-align: center;
  color: #fff;
}